{% extends "base.html" %}
<head>
    <title>Form Ricovero</title>
</head>

{% block nav %}
    
{% endblock nav %}
{% block content %}
    <body>
        <div class="title-crud">
            <h1>{% if object %}Modifica ricovero{% else %}Crea nuovo ricovero{% endif %}</h1>
        </div>
        <form class="crud-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-start mt-3">
                <div class = "delete-buttons">
                        <button type="submit" class="btn btn-orange mr-2">{% if object %}Modifica <i class="fa-solid fa-pen"></i>{% else %}Crea <i class="fa fa-plus"></i>{% endif %}</button>
                        <a href="{% url 'listaRic' %}" class="btn btn-secondary">Annulla <i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
        </form>
    </body>
{% endblock content %}
