{% extends "base.html" %}
<head>
    <title>Form Ricovero</title>
</head>

{% block nav %}
    
{% endblock nav %}
{% block content %}
    <body>
        <h1>{% if object %}Modifica Ricovero{% else %}Crea Nuovo Ricovero{% endif %}</h1>
        
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class=delete-buttons>
                        <button type="submit">{% if object %}Salva Modifiche{% else %}Crea Nuovo Ricovero{% endif %}</button>
                        <a href="{% url 'listaRic' %}">Annulla <i class="fa-solid fa-xmark"></i></a>
                </div>           
            </form>

    </body>
{% endblock content %}
