{% extends "base.html" %}

<head>
    <title>Conferma Eliminazione Ricovero</title>
</head>

{% block nav %}
    
{% endblock nav %}

{% block content %}
    <body>
        <div class = "delete-content">
            <h1>Conferma Eliminazione Ricovero</h1>
            <p>Sei sicuro di voler eliminare il ricovero "{{ object }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Elimina <i class='fa-solid fa-trash'></i> </button>
            </form>
            <a href="{% url 'listaRic' %}">Annulla <i class="fa-solid fa-xmark"></i></a>
        </div>
    </body>
{% endblock content %}
