{% extends "base.html" %}

<title>
    {% block head_title %} 
        {{ block.super }} | Ospedali 
    {% endblock head_title %}
</title>

{% block search_option %}
    <option value="1">Nome ospedale</option>
    <option value="2">Comune ospedale</option>
    <option value="3">direttore sanitario</option>
{% endblock search_option %}

{% block content %}
    <div class="container-fluid">
        <div class="table-container">
            <table class="table table-striped table-hover-highlight">
                <thead class="thead-sticky">
                    <tr>
                        <th>Nome</th>
                        <th>Indirizzo</th>
                        <th>Comune</th>
                        <th>Direttore Sanitario</th>
                        <th>Ricoveri</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in queryset %}
                    <tr>
                        <td>{{ object.denominazioneStruttura }}</td>
                        <td>{{ object.indirizzo }}</td>
                        <td>{{ object.comune }}</td>
                        <td>
                            <a href="{% url 'listaPers' %}?inlineFormCustomSelect={{ 2 }}&cerca={{  object.direttoreSanitario }}">
                                {{ object.direttoreSanitario.nome }} {{ object.direttoreSanitario.cognome }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'listaRic' %}?inlineFormCustomSelect={{ 3 }}&cerca={{  object.denominazioneStruttura}}">
                                {{object.numero_ricoveri}}
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Nessun record trovato</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}