{% extends "base.html" %}

<title>
    {% block head_title %} 
        {{ block.super }} | Ricoveri 
    {% endblock head_title %}
</title>

{% block search_option %}
    <option selected>Choose...</option>
    <option value="1">Nome patologia</option>
    <option value="2">Criticità</option>
    <option value="3">Cronica</option>
    <option value="3">Mortale</option>
    <option value="3">Cronica e mortale</option>
    <option value="3">Nè cronica nè mortale</option>
{% endblock search_option %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Criticità</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.nome }}</td>
                    <td>{{ object.criticita }}</td>
                    {% if object.cronica == "1" and object.mortale != "1" %}
                    <td>Cronica</td>
                    {% endif %}
                    {% if object.cronica == "1" and object.mortale == "1" %}
                    <td>Cronica e mortale</td>
                    {% endif %}
                    {% if object.cronica != "1" and object.mortale == "1" %}
                    <td>Mortale</td>
                    {% endif %}
                    {% if object.cronica != "1" and object.mortale != "1" %}
                    <td>Non cronica e non mortale</td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nessun record trovato</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}