{% extends "base.html" %}

<title>
    {% block head_title %} 
        {{ block.super }} | Ricoveri 
    {% endblock head_title %}
</title>

{% block search_option %}
    <option value="1">Paziente</option>
    <option value="2">CSSN</option>
    <option value="3">Nome ospedale</option>
{% endblock search_option %}

{% block content %}
     <a href="{% url 'RicCreate' %}">
        <button type="button" class="btn btn-orange"><i class="fa fa-plus"></i></button>
    </a>
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th>Paziente</th>
                    <th>CSSN</th>
                    <th>Ospedale</th>
                    <th>Ricovero</th>
                    <th>Motivo</th>
                    <th>Data</th>
                    <th>Durata</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                {% for object in queryset %}
                <tr>
                    <td>{{ object.paziente.nome }} {{ object.paziente.cognome }}</td>
                    <td>{{ object.paziente }}</td>
                    <td>{{ object.codiceOspedale }}</td>
                    <td>{{ object.codiceRicovero }}</td>
                    <td>{{ object.motivo }}</td>
                    <td>{{ object.data }}</td>
                    <td>{{ object.durata }} gg</td>
                    <td>{{ object.costo }} €</td>
                     <td>
                         <!-- Pulsante "Update" -->
                         <a href="{% url 'RicUpdate' object.pk %}" class="btn btn-orange">
                            <i class="fa fa-pencil-alt"></i>
                        </a>

                        <!-- Pulsante "Delete" -->
                        <a href="{% url 'RicDelete' object.pk %}" class="btn btn-orange ">
                            <i class="fa fa-trash"></i>
                        </a>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nessun record trovato</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}